In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf

# Import our input dataset
tele_df = pd.read_csv("/content/bank_telemarketing.csv")
tele_df.head()

,Age,Job,Marital_Status,Education,Default_Credit,Housing_Loan,Personal_Loan,Subscribed
0,56,other,married,Primary_Education,no,no,no,no
1,37,services,married,Secondary_Education,no,yes,no,no
2,40,admin,married,Primary_Education,no,no,no,no
3,56,services,married,Secondary_Education,no,no,yes,no
4,59,admin,married,Professional_Education,no,no,no,no

In [3]:
# Generate our categorical variable list
tele_cat = tele_df.dtypes[tele_df.dtypes == "object"].index.tolist()


# Check the number of unique values in each column
tele_df[tele_cat].nunique()

Job               9
Marital_Status    3
Education         4
Default_Credit    2
Housing_Loan      2
Personal_Loan     2
Subscribed        2
dtype: int64

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(tele_df[tele_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(tele_cat)
encode_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,Marital_Status_divorced,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [7]:
# Merge one-hot encoded features and drop the originals
tele_df = tele_df.merge(encode_df,left_index=True, right_index=True)
tele_df = tele_df.drop(tele_cat,1)
tele_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Age,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,56,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,37,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,40,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,59,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [8]:
# Remove Subscribed Status target from features data
y = tele_df.Subscribed_yes.values
X = tele_df.drop(columns=["Subscribed_no","Subscribed_yes"]).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
#Create the SVM model
svm = SVC(kernel='linear')
# Train the model
svm.fit(X_train, y_train)

SVC(kernel='linear')

In [13]:
# Evaluate the model
y_pred = svm.predict(X_test_scaled)
print(f" SVM model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 SVM model accuracy: 0.873

In [14]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model 

nn.fit(X_train_scaled,y_train , epochs=100)

# Evaluate the model using the test data 
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/100
715/715 [==============================] - 4s 4ms/step - loss: 0.3932 - accuracy: 0.8735
Epoch 2/100
715/715 [==============================] - 3s 3ms/step - loss: 0.3715 - accuracy: 0.8735
Epoch 3/100
715/715 [==============================] - 2s 3ms/step - loss: 0.3694 - accuracy: 0.8735
Epoch 4/100
715/715 [==============================] - 2s 3ms/step - loss: 0.3686 - accuracy: 0.8735
Epoch 5/100
715/715 [==============================] - 3s 4ms/step - loss: 0.3681 - accuracy: 0.8735
Epoch 6/100
715/715 [==============================] - 2s 2ms/step - loss: 0.3677 - accuracy: 0.8735
Epoch 7/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3673 - accuracy: 0.8735
Epoch 8/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3671 - accuracy: 0.8735
Epoch 9/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3668 - accuracy: 0.8735
Epoch 10/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3664 - accuracy: 0.8735
Epoch 11/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3661 - accuracy: 0.8734
Epoch 12/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3657 - accuracy: 0.8734
Epoch 13/100
715/715 [==============================] - 2s 3ms/step - loss: 0.3652 - accuracy: 0.8734
Epoch 14/100
715/715 [==============================] - 2s 3ms/step - loss: 0.3650 - accuracy: 0.8734
Epoch 15/100
715/715 [==============================] - 2s 2ms/step - loss: 0.3646 - accuracy: 0.8735
Epoch 16/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3647 - accuracy: 0.8732
Epoch 17/100
715/715 [==============================] - 2s 2ms/step - loss: 0.3643 - accuracy: 0.8733
Epoch 18/100
715/715 [==============================] - 2s 2ms/step - loss: 0.3639 - accuracy: 0.8736
Epoch 19/100
715/715 [==============================] - 2s 3ms/step - loss: 0.3636 - accuracy: 0.8738
Epoch 20/100
715/715 [==============================] - 2s 3ms/step - loss: 0.3637 - accuracy: 0.8737
Epoch 21/100
715/715 [==============================] - 2s 3ms/step - loss: 0.3632 - accuracy: 0.8738
Epoch 22/100
715/715 [==============================] - 2s 2ms/step - loss: 0.3633 - accuracy: 0.8737
Epoch 23/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3627 - accuracy: 0.8741
Epoch 24/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3628 - accuracy: 0.8740
Epoch 25/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3627 - accuracy: 0.8735
Epoch 26/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3622 - accuracy: 0.8736
Epoch 27/100
715/715 [==============================] - 2s 2ms/step - loss: 0.3625 - accuracy: 0.8736
Epoch 28/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3621 - accuracy: 0.8742
Epoch 29/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3625 - accuracy: 0.8741
Epoch 30/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3619 - accuracy: 0.8740
Epoch 31/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3620 - accuracy: 0.8740
Epoch 32/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3620 - accuracy: 0.8740
Epoch 33/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3620 - accuracy: 0.8739
Epoch 34/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3619 - accuracy: 0.8742
Epoch 35/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3617 - accuracy: 0.8740
Epoch 36/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3618 - accuracy: 0.8740
Epoch 37/100
715/715 [==============================] - 2s 2ms/step - loss: 0.3617 - accuracy: 0.8739
Epoch 38/100
715/715 [==============================] - 2s 2ms/step - loss: 0.3617 - accuracy: 0.8738
Epoch 39/100
715/715 [==============================] - 2s 2ms/step - loss: 0.3618 - accuracy: 0.8742
Epoch 40/100
715/715 [==============================] - 2s 2ms/step - loss: 0.3616 - accuracy: 0.8738
Epoch 41/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3616 - accuracy: 0.8743
Epoch 42/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3615 - accuracy: 0.8740
Epoch 43/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3612 - accuracy: 0.8741
Epoch 44/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3614 - accuracy: 0.8739
Epoch 45/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3614 - accuracy: 0.8743
Epoch 46/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3612 - accuracy: 0.8742
Epoch 47/100
715/715 [==============================] - 2s 3ms/step - loss: 0.3611 - accuracy: 0.8741
Epoch 48/100
715/715 [==============================] - 2s 3ms/step - loss: 0.3613 - accuracy: 0.8742
Epoch 49/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3612 - accuracy: 0.8741
Epoch 50/100
715/715 [==============================] - 2s 2ms/step - loss: 0.3611 - accuracy: 0.8740
Epoch 51/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3610 - accuracy: 0.8742
Epoch 52/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3612 - accuracy: 0.8745
Epoch 53/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3609 - accuracy: 0.8746
Epoch 54/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3610 - accuracy: 0.8741
Epoch 55/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3610 - accuracy: 0.8742
Epoch 56/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3610 - accuracy: 0.8740
Epoch 57/100
715/715 [==============================] - 2s 2ms/step - loss: 0.3607 - accuracy: 0.8741
Epoch 58/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3608 - accuracy: 0.8742
Epoch 59/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3610 - accuracy: 0.8739
Epoch 60/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3609 - accuracy: 0.8742
Epoch 61/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3607 - accuracy: 0.8738
Epoch 62/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3608 - accuracy: 0.8739
Epoch 63/100
715/715 [==============================] - 2s 2ms/step - loss: 0.3607 - accuracy: 0.8741
Epoch 64/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3606 - accuracy: 0.8739
Epoch 65/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3605 - accuracy: 0.8742
Epoch 66/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3606 - accuracy: 0.8740
Epoch 67/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3606 - accuracy: 0.8739
Epoch 68/100
715/715 [==============================] - 2s 2ms/step - loss: 0.3607 - accuracy: 0.8741
Epoch 69/100
715/715 [==============================] - 2s 2ms/step - loss: 0.3604 - accuracy: 0.8742
Epoch 70/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3605 - accuracy: 0.8741
Epoch 71/100
715/715 [==============================] - 2s 2ms/step - loss: 0.3603 - accuracy: 0.8740
Epoch 72/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3604 - accuracy: 0.8737
Epoch 73/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3607 - accuracy: 0.8742
Epoch 74/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3606 - accuracy: 0.8738
Epoch 75/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3606 - accuracy: 0.8737
Epoch 76/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3605 - accuracy: 0.8742
Epoch 77/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3605 - accuracy: 0.8739
Epoch 78/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3605 - accuracy: 0.8739
Epoch 79/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3605 - accuracy: 0.8741
Epoch 80/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3604 - accuracy: 0.8739
Epoch 81/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3605 - accuracy: 0.8739
Epoch 82/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3603 - accuracy: 0.8740
Epoch 83/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3605 - accuracy: 0.8738
Epoch 84/100
715/715 [==============================] - 2s 2ms/step - loss: 0.3604 - accuracy: 0.8737
Epoch 85/100
715/715 [==============================] - 2s 2ms/step - loss: 0.3604 - accuracy: 0.8740
Epoch 86/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3603 - accuracy: 0.8741
Epoch 87/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3603 - accuracy: 0.8740
Epoch 88/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3604 - accuracy: 0.8740
Epoch 89/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3601 - accuracy: 0.8739
Epoch 90/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3606 - accuracy: 0.8738
Epoch 91/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3604 - accuracy: 0.8739
Epoch 92/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3603 - accuracy: 0.8741
Epoch 93/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3601 - accuracy: 0.8740
Epoch 94/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3601 - accuracy: 0.8740
Epoch 95/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3603 - accuracy: 0.8740
Epoch 96/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3602 - accuracy: 0.8742
Epoch 97/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3603 - accuracy: 0.8735
Epoch 98/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3603 - accuracy: 0.8740
Epoch 99/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3604 - accuracy: 0.8743
Epoch 100/100
715/715 [==============================] - 1s 2ms/step - loss: 0.3600 - accuracy: 0.8734
239/239 - 0s - loss: 0.3716 - accuracy: 0.8734 - 429ms/epoch - 2ms/step
Loss: 0.37155038118362427, Accuracy: 0.8733595609664917

Looking at the results of our comparative analysis, the SVM and deep learning models both achieved a predictive accuracy around 87%. Additionally, both models take similar amounts of time to train on the input data. The only noticeable difference between the two models is implementation—the amount of code required to build and train the SVM is notably less than the comparable deep learning model. As a result, many data scientists will prefer to use SVMs by default, then turn to deep learning models, as needed.